<header class="header">
    <nav class="header_nav">
        <ul class="header_nav_list">
            <li class="header_nav_item">
                <a href="/" class="<%= path === '/' ? 'active' : '' %>">Shop</a>
            </li>
            <li class="header_nav_item">
                <a href="/admin/add-product" class="<%= path === '/admin/add-product' ? 'active' : '' %>">Add Product</a>
            </li>
        </ul>
    </nav>
</header>
