<%- include('includes/head.ejs') %>
    </head>
    <body>
        <%- include('includes/nav.ejs') %>
        <main class="main">
            <h1>Page not found</h1>
            <p>404 ERROR</p>
            <p>We are Sorry for that</p>
        </main>
    <%- include('includes/end.ejs') %>
